name: Full PHP Quality Analysis

env:
  PROJETO: CALCULADORA-PHP

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:

  # ============================================================
  # JOB 1 — SONARQUBE V01
  # ============================================================
  sonarqubeCloud:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Instalar PHP e dependências do Composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: xdebug   # ativa cobertura
          extensions: mbstring

      - name: Instalar dependências
        run: composer install --no-interaction --prefer-dist

      #- name: Rodar testes com cobertura
      #  run: |
      #    php vendor/bin/phpunit --coverage-clover coverage.xml

      - name: Sonar Scanner CLI
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=jgnn-org
            -Dsonar.projectKey=JeanGabrielNguemaN_calculadora-php
            -Dsonar.sources=src
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.php.coverage.reportPaths=coverage.xml